
.my-at-tabs {
  position: fixed;
  z-index: 1000;
  .at-tabs__header {
    border-top: 4px solid rgba(0,0,0,.15);
  }
    .at-tabs__item {
      font-size: 30px;
      .at-tabs__item-underline {
        height: 2PX;
        background-color: #ab2b2b;
      }
    }
    .at-tabs__item--active {
      color: #ab2b2b;
    }
}

.goods-title {
  text-align: center;
  padding: 20px;
  padding-top: 110rpx;

  .goods-title-name {
    font-size: 30px;
    color: #333;
    margin-bottom: 18px;
  }
  .goods-title-frontName {
    font-size: 24px;
    color: #999;
  }
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  .goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 49.25%;
    margin-bottom: 0.5%;
    padding-bottom: 33.333px; 
    font-size: 30px;
    
    image {
      width: 302px;
      height: 302px;
    }

    .goods-item-name {
      width: 100%;
      text-align: center;
      text {
        padding: 0 20px;
        color: #333;
      }
    }

    .goods-item-price {
      color: #b4282d;
    }
  }

  .goods-item-left {
    margin-right: 0.5%;
  }
}